<h2 class="sub-header">Developers</h2>
<div class="row placeholders">
    <% @developers.each do |developer| %>
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= link_to gravatar_image_tag(developer.email, :alt => developer.name, :style => 'border-radius: 50%;'), developer %>
          <h4><%= developer.name %></h4>
          <span class="text-muted">
            <% if developer.assigned_tasks.active.count > 0 %>
            <%= developer.assigned_tasks.active.first.project.name %>
            <% else %>
            No assignments
            <% end %>
          </span>
        </div>
    <% end %>
</div>

<%= link_to 'New Developer', new_developer_path, :class => 'btn btn-default' %>
