<header class="section-title">
    <h3>Editing task</h3>
</header>
<!--
<div class="tmp">
  <%= render 'form' %>
</div>
-->
<div class="form-container">
    <form>
        <div class="form-section row">
            <label>Task Title</label>
            <input id="name1" type="text">
        </div>
        <div class="form-section row">
            <label class="details">Details</label>
            <textarea style="display: block;float: left;width: 791px;
height: 103px;"></textarea>
        </div>
    </form>
</div>
<div class="info-container">
    <div class="colm-left">
        <div>
            <label>Assign to</label>
        </div>
        <div>
            <label>Diffculties</label>
        </div>
        <div>
            <label>Priority</label>
        </div>
    </div>
    <div class="colm-right">
        <div>
            <label>Time Requested</label>
        </div>
        <div>
            <label>Points</label>
        </div>
        <div>
            <label>Due Date</label>
        </div>
    </div>
</div>