<header class="section-title">
    <h3>Editing task</h3>
</header>

<div class="tmp">
    <%= render 'form' %>
</div>




<!--
<div class="form-container">
    <form>
        <div class="form-section row">
            <label>Task Title</label>
            <input id="name1" type="text">
        </div>
        <div class="form-section row">
            <label class="details">Details</label>
            <textarea></textarea>
        </div>
    </form>
</div>
<div class="info-container">
    <!-- left column section -->
<div class="colm-left">
    <div class="colm-section">
        <label>Assign to</label>
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    None <span class="caret"></span>
  </button>
            <ul class="dropdown-menu">
                <li><a>haha</a></li>
                <li><a>haha</a></li>
                <li><a>haha</a></li>
            </ul>
        </div>
    </div>
    <!-- selectors -->
    <div class="colm-section">
        <label>Diffculties</label>
        <div class="selector">
            <input value="0" min="0" max="5" class="range-slider-range" type="range" style="flex: 0 1 80%;">
            <span class="range-slider-value">0</span>
        </div>
    </div>
    <div class="colm-section">
        <label>Priority</label>
        <div class="selector">
            <input value="0" min="0" max="5" class="range-slider-range" type="range" style="flex: 0 1 80%;">
            <span class="range-slider-value">0</span>
        </div>
    </div>
    <!-- selector ends -->
</div>
<!-- left column section ends -->
<!-- right column section -->
<div class="colm-right ">
    <!-- time requested -->
    <div class="colm-section">
        <label>Time Requested</label>
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   None <span class="caret"></span>
  </button>
            <ul class="dropdown-menu">
                <li><a>1 Month</a></li>
                <li><a>2 Month</a></li>
                <li><a>haha</a></li>
            </ul>
        </div>
    </div>
    <!-- time requested ends -->
    <!-- points section -->
    <div class="colm-section points">
        <label>Points</label>
        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>
            <button type="button" class="btn btn-default">3</button>
            <button type="button" class="btn btn-default">4</button>
            <button type="button" class="btn btn-default">5</button>
        </div>
    </div>
    <!-- points section ends -->
    <!-- set date -->
    <div class="colm-section date">
        <label>Due Date</label>
        <div class="btn-group date-nav" role="group" aria-label="..." style="">
            <button type="button" class="btn btn-default" data-nav="yesterday"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>

            <input class="btn btn-default date-picker">

            <button type="button" class="btn btn-default" data-nav="tomorrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <!-- set date ends -->
</div>
<!-- right column section ends-->