/* this are the colors used in devboard */

$devblue: #5bc0de;
$devblue-dark: #2bacd4;
$warning-red: #F88181;
$warning-red-dark: #D35555;
$whitegray: #f7f7f7;
$lightgray: #EBEBEB;
$gray: #d6d6d6;
$darkgray: #A7A7A7;
$lightblack: #454545;
$devblack: #333333;