<header class="section-header">
  <h3>Editing Exception Report</h3>
</header>

<div class="tmp">
  <%= render 'form', exception_report: @exception_report %>

  <%= link_to 'Show', @exception_report %> |
  <%= link_to 'Back', exception_reports_path %>
</div>
