<header class="section-title">
  <h3>New Exception Report</h3>
</header>

<div class="tmp">
  <%= render 'form', exception_report: @exception_report %>

  <%= link_to 'Back', exception_reports_path %>
</div>
