<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<header class="section-title">
  <h3>Editing Sprint</h3>
</header>
<section>
<div>
  <%= render 'form' %>
</div>
</section>
