<p class="fields">
  <%= f.text_field :url, class: 'form-control', :placeholder => 'user/repo-name' %><br />
  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", "#", onclick: "return rails_nested_form_remove_fields(this);" %>
</p>
