<p class="fields">
  <%= f.text_field :gh_url, class: 'form-control', :placeholder => 'user/repo-name' %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Question" %>
  <%= link_to "remove", "#", onclick: "return remove_fields(this);" %>
</p>
