<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<header class="section-title">
  <h3 class="page-header"><%= @project.name %></h3>
</header>
<section>
<div class="tmp">
  <%= render 'form' %>
</div>
</section>
