<div class="assignments-widget">
    <header class="section-title">
        <h3>Assignments</h3>
        <div>
            <div class="btn-group date-nav" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
            <div class="date-indicator">
                <span>Wednesday, Jan 11, 2017 </span>
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
        </div>
        <div class="timeline-title">
            <h5>Developers</h5>
            <h5>Assigned tasks</h5>
            <h5>Unassigned tasks</h5>
        </div>
    </header>

    <div style="overflow-y: auto;width: 82%;height: 100%;">
        <div class="developer-container">
            <div class="developer-section">
                <div class="developer">
                    <img style="height: 35px;" src="/assets/lloyd-0ab2392d228ff2927c0897c84b127b23763819ac0c56d09cd7a827469411b151.png" alt="Lloyd">
                    <span class="developer-name">Lloyd Wheeler</span>
                </div>
                <div class="developer">
                    <img style="height: 35px;" src="/assets/Chris-5afc5970e9315347a6ca0fe0d01cf84e55175177ea0a419d846dd15fdfa9ac58.png" alt="Chris">
                    <span class="developer-name">Christopher Thielen</span>
                </div>
                <div class="developer">
                    <img style="height: 35px;" src="/assets/Obada-11871c8d5984aecda6a361512eec48a7d10be3df95b462e46076d411ae6a80cc.png" alt="Obada">
                    <span class="developer-name">Obada Kadri</span>
                </div>
                <div class="developer">
                    <img style="height: 35px;" src="/assets/Mark-32fdb6a68d819bb502ff0266f9d109e16b2f3bb3f17b7452828e9dbcbd258284.png" alt="Mark">
                    <span class="developer-name">Mark Diez</span>
                </div>
                <div class="developer">
                    <img style="height: 35px;" src="/assets/Shang-c060e2fdbe938fea1e9d0e4c018c54177a7f1490f5bdd6493e5a0f206f400486.png" alt="Shang">
                    <span class="developer-name">Shang Lu</span>
                </div>
            </div>
        </div>
        <div class="assignment-container">
            <div class="assignment-section" style="overflow-y: -moz-hidden-unscrollable;">
                <div class="assignment">
                    <div class="task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto text-center">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div>
                </div>
                <div class="assignment">
                    <div class="task finished-task">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task assigned-task">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto text-center">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div>
                </div>
                <div class="assignment">
                    <div class="task assigned-task">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto text-center">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div>
                </div>
                <div class="assignment">
                    <div class="task finished-task">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task assigned-task">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto text-center">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div>
                </div>
                <div class="assignment">
                    <div class="task finished-task">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task assigned-task">
                        <div class="flex-row">
                            <div class="task-title">
                                <h5>ipa-client-angular</h5>
                                <p>Shared activities</p>
                            </div>
                            <div class="task-selection">
                                <div class="task-selection-check-mark">
                                    <input type="checkbox">
                                </div>
                                <div class="task-selection-github">
                                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task empty-task flex-row_center" data-toggle="modal" data-target="#add_task">
                        <div class="flex-auto text-center">
                            <i class="fa fa-plus add-user_icon" aria-hidden="true" data-toggle="modal" data-target="#add_task"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notask-container">
            <div class="task assigned-task">
                <div class="flex-row">
                    <div class="task-title">
                        <h5>ipa-client-angular</h5>
                        <p>Shared activities</p>
                    </div>
                    <div class="task-selection">
                        <div class="task-selection-check-mark">
                            <input type="checkbox">
                        </div>
                        <div class="task-selection-github">
                            <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<%= render 'site/modal_add_user' %>

    <%= render 'site/modal_add_task' %>
        </div>