// Library includes
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";
// Our variables
@import "variables";

/* page wrapper and replace class 'tmp' */

section {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 15px;
}


/* input style*/

input {
    color: black;
}

input:focus {
    border: 1px solid #808080;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px !important;
}

.navbar {
    height: 50px !important;
}


/* navigation bar and hover effect underline */


/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 50px;
    font-size: 10pt;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.nav-tabs {
    margin: 10px !important;
    li {
        a {
            border-radius: 0 !important;
        }
        &.active {
            background-color: transparent !important;
            a,
            a:focus {
                background-color: rgb(248, 248, 248) !important;
                color: rgb(51, 51, 51) !important;
                font-weight: bold !important;
            }
        }
        &:hover {
            background-color: transparent !important;
            a {
                color: #000 !important;
            }
        }
    }
}


/*
 * Main content
 */

main {
    section {
        padding: 15px 30px 15px 30px;
    }
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    border-radius: 50%;
}

a.navbar-brand {
    font-weight: 100;
    font-size: 18pt;
}

.navbar-inverse .navbar-nav>li>a {
    font-weight: 900;
    color: #2A2D32 !important;
}

.flex-row {
    display: flex !important;
    flex-direction: row;
}


/* navigation style */

.nav-flex-row {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    list-style-type: none !important;
    >li {
        >a {
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.navbar-style {
    box-shadow: -1px -2px 14px -2px rgba(150, 150, 150, 1);
    z-index: 10;
    background-color: white !important;
    border: none !important;
    li {
        margin-left: 3em;
        margin-right: 2em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.hover-underline {
    display: inline-block;
    position: relative;
}

.hover-underline:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 5px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

.hover-underline:hover:after {
    width: 100%;
    background: #2A2D32;
    ;
}

.hover-underline-log_out {
    display: inline-block;
    position: relative;
}

.hover-underline-log_out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 5px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

.hover-underline-log_out:hover:after {
    width: 100%;
    background: #FF8383;
}


/* search bar */

.search {
    width: 100%;
    position: relative
}

.search i {
    font-size: 11pt;
}

.search-bar {
    width: 30%;
    margin: 10px 0px 10px 20px;
}

.searchButton {
    position: absolute;
    left: 101%;
    top: 0%;
    width: 40px;
    height: 28px;
    border: 1px solid #BFBFBF;
    background: #BFBFBF;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.input-section {
    width: 100%;
    border: 1px solid #E2E2E2;
    padding: 5px;
    height: 28px;
    border-radius: 3px !important;
    outline: none;
    color: #BFBFBF;
    background-color: #FAFAFA;
    box-shadow: none;
}


/* sidebar */

.padding-0 {
    padding: 0px;
}

#logo {
    color: white;
    text-align: center;
    margin: 10px 0px 60px 0px;
}

.section-title {
    background-color: #F8F8F8;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
    h3 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        margin-left: 30px !important;
    }
}

.active>.sidebar-icon {
    color: #fff;
}

.sidebar-icon {
    position: absolute;
    top: 13px;
    left: 6px;
    color: #95989A;
}

// Upper-right button, usually "Edit" or "Show X Weeks"
.header-btn-right {
    float: right;
    margin: 15px;
    margin-right: 30px;
}

// Other files to include
@import "assignments";
@import "exception_reports";
@import "modal";
@import "scaffolds";
@import "sidebar";
@import "tasks";