    @import "utilities/variables";
    html,
    body {
        height: 100%;
    }
    
    .assignments-widget {
        height: calc(100% - 96.4px);
        .date-nav {
            position: absolute;
            width: 300px;
            left: 16%;
            top: 12px;
            button {
                border: 1px solid $gray !important;
            }
        }
        .date-indicator {
            font-size: 11pt;
            position: absolute;
            left: 24%;
            top: 18px;
            i {
                margin-left: 5px;
                cursor: pointer;
            }
        }
        .pagination-button {
            text-align: center;
            a {
                color: $devblack;
                cursor: pointer;
                text-decoration-style: none;
                i {
                    margin: 0px 5px 0px 5px;
                }
            }
        }
        .row {
            margin: 0px;
        }
        .empty-task {
            flex: 1 0 180px !important;
        }
        .timeline-title {
            /* general styles */
            padding: 10px 20px 10px 20px;
            border-top: 1px solid $gray;
            display: flex;
            background-color: white;
            h5 {
                font-weight: bold;
            }
            h5:first-child {
                flex: 1;
                text-align: center;
            }
            h5:nth-child(2) {
                flex: 6.4;
                text-align: center;
            }
            h5:last-child {
                flex: 1;
                text-align: center;
            }
        }
        .task {
            /* general styles */
            display: flex;
            flex-direction: column;
            margin: 0px 5px;
            border-radius: 5px;
        }
        .task-title {
            /* general styles */
            flex: 0 1 70%;
            margin-top: 10px;
            margin-left: 10px;
            line-height: 2;
            color: white;
        }
        .task-selection {
            /* general styles */
            flex: 0 1 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 10px;
        }
        .task-selection-check-mark {
            flex: 0 1 auto;
            margin-top: 8px;
        }
        .task-selection-github {
            flex: 0 1 auto;
            font-size: 1em;
            color: white;
            margin-top: 5px;
            margin-right: 1px;
        }
        .task-selection-github a {
            color: white !important;
        }
        /*.Nunassigned-container {
        float: left;
        width: 20%;
        height: 100%;
    }*/
        .developer-container {
            float: left;
            width: 20%;
            height: 100%;
            /*overflow-y: auto;*/
            .developer-section {
                /*border-right: 1px solid $gray;*/
                flex: 0 1 20%;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $gray;
                border-right: 1px solid $gray;
                padding-bottom: 14px;
                .developer {
                    margin: 24.5px 0px 24.5px 15px;
                    .developer-name {
                        position: relative;
                        font-size: 10pt;
                        margin-left: 5px;
                    }
                }
            }
        }
        .assignment-container {
            float: left;
            width: 80%;
            height: 100%;
            .assignment-section {
                overflow-y: hidden;
                flex: 0 1 100%;
                border-bottom: 1px solid $gray;
                border-right: 1px solid $gray;
                padding-bottom: 16px;
                .assignment {
                    flex: 0 0 100%;
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    /*width: 1000px;*/
                    width: 100%;
                    .assigned-task {
                        flex: 1 0 180px;
                        background-color: $devblue; // #4AD3B7;
                        border: 1px solid $devblue-dark; // 20C6A4;
                    }
                    .finished-task {
                        flex: 1 0 180px;
                        background-color: $lightgray;
                        border: 1px solid $gray;
                        .task-title {
                            color: $darkgray;
                        }
                        .task-selection-github a {
                            color: $darkgray !important;
                        }
                    }
                    .empty-task {
                        flex: 1;
                        height: 62.07px;
                        border: 1.5px dashed $gray;
                        i {
                            color: $gray;
                        }
                        &:hover {
                            border: 1.5px dashed $darkgray;
                            cursor: pointer;
                            i {
                                color: $darkgray;
                            }
                        }
                    }
                }
            }
        }
        .unassigned-task-container {
            position: fixed;
            width: 15%;
            height: 100%;
            background-color: #F2F2F2;
            right: 0;
            .assigned-task {
                flex: 1;
                background-color: $devblue; // #4AD3B7;
                border: 1px solid $devblue-dark; // 20C6A4;
                margin: 10px;
            }
        }
    }