@import "utilities/variables";
.assignments-widget {
    .timeline {
        margin: 0 auto;
        >div {
            border-bottom: 1px solid $gray;
            display: table-cell;
        }
        .developer-container {
            /* includes styles for developers*/
            padding-right: 0px;
            padding-left: 0px;
            float: none !important;
            .developer-section {
                border-right: 1px solid $gray;
                flex: 0 1 20%;
                display: flex;
                flex-direction: column;
                padding-bottom: 17px;
                .developer {
                    margin: 26px 0px 24px 15px;
                    .developer_name {
                        position: relative;
                        font-size: 10pt;
                        margin-left: 5px;
                    }
                }
            }
        }
        .assignment-container {
            /* includes styles for .assignment*/
            padding-right: 0px;
            padding-left: 0px;
            float: none !important;
            .assignment {
                flex: 0 1 100%;
                overflow-x: auto;
                width: 700px;
                border-bottom: 1px solid $gray;
                @media screen and (min-width: 1900px) {
                    width: 100%;
                }
                .assignment_section {
                    flex: 0 1 10%;
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid $gray;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 1000px;
                    @media screen and (min-width: 1900px) {
                        width: 1200px;
                    }
                    .assigned-task {
                        flex: 1;
                        background-color: $devblue; // #4AD3B7;
                        border: 1px solid $devblue-dark; // 20C6A4;
                    }
                    .finished-task {
                        flex: 1;
                        background-color: $lightgray;
                        border: 1px solid $gray;
                        .assignment_section_task-title {
                            color: $darkgray;
                        }
                        .task-selection_github a {
                            color: $darkgray !important;
                        }
                    }
                    .empty-task {
                        flex: 1;
                        border: 1.5px dashed $gray;
                        &:hover {
                            border: 1.5px dashed $darkgray;
                            cursor: pointer;
                            i {
                                color: $darkgray;
                            }
                        }
                    }
                }
            }
        }
        .upcoming-assignment-container {
            /* include upcoming task styles */
            padding-right: 0px;
            padding-left: 0px;
            float: none !important;
            .upcoming-sidebar {
                position: absolute;
                top: 0rem;
                left: 0rem;
                right: 0rem;
                bottom: 0rem;
                background-color: $lightgray;
                overflow-x: hidden;
                overflow-y: scroll;
                padding: 0 0 6rem;
                box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
                z-index: 1;
                .unassigned-tasks_header {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    color: $darkgray;
                    h5 {
                        text-align: center;
                    }
                }
                .unassigned-task {
                    display: flex;
                    flex-direction: column;
                    margin: 0px 5px 10px 5px;
                    border-radius: 5px;
                    background-color: $devblue; // #4AD3B7;
                    border: 1px solid $devblue-dark; // 20C6A4;
                }
                .empty-task {
                    padding: 20px 0px 20px 0px;
                    border: 1.5px dashed $darkgray;
                    i {
                        color: $darkgray;
                    }
                    &:hover {
                        cursor: pointer;
                        border: 1.5px dashed $lightblack;
                        i {
                            color: $lightblack;
                        }
                    }
                }
            }
        }
        .timeline-title {
            /* general styles */
            padding: 10px 0px 10px 0px;
            border-bottom: 1px solid $gray;
            h5 {
                text-align: center;
            }
        }
        .assignment_section_task-title {
            /* general styles */
            flex: 0 1 70%;
            margin-top: 10px;
            margin-left: 10px;
            line-height: 2;
            color: white;
        }
        .assignment_section_task-selection {
            /* general styles */
            flex: 0 1 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 10px;
            .task-selection_check-mark {
                flex: 0 1 auto;
                margin-top: 8px;
            }
            .task-selection_github {
                flex: 0 1 auto;
                font-size: 1em;
                color: white;
                margin-top: 5px;
                margin-right: 1px;
            }
            .task-selection_github a {
                color: white !important;
            }
        }
    }
    .pagination_button {
        text-align: center;
    }
    .row {
        margin: 0px;
    }
}