$table-row-divider: 1px solid #666;
$table-row-height: 30px;
$table-row-selected-bg: #f8f8f8;
$notice-info: #428bca;

.table-project-active {
    thead {
        tr {
            th {
                text-align: center;
            }
            th:nth-child(2) {
                text-align: left !important;
            }
            th:nth-child(3) {
                text-align: center !important;
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
            }
            td:nth-child(2) {
                text-align: left !important;
            }
            td:nth-child(3) {
                text-align: center !important;
            }
        }
    }
}

.exceptions-notice-regular {
    position: fixed;
    display: flex;
    top: 13.8%;
    margin-left: 22px;
    margin-right: 22px;
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;
    @media screen and (max-width: 1278px) {
        top: 9.1%;
    }
    @media screen and (min-width: 1280px) {
        top: 7.9%;
    }
    @media screen and (min-width: 1920px) {
        top: 6%;
    }
    
    span {
        padding: 15px;
        background-color: $notice-info;
        color: white;
        width: 100%;
        text-align: center;
    }
}

.exceptions-notice-confirm {
    position: fixed;
    display: flex;
    width: 80%;
    margin-left: 22px;
    margin-right: 22px;
    padding-left: 0px;
    padding-right: 0px;
    @media screen and (max-width: 1278px) {
        top: 9.1%;
    }
    @media screen and (min-width: 1280px) {
        top: 7.9%;
    }
    @media screen and (min-width: 1920px) {
        top: 6%;
    }
    span {
        padding: 15px;
        background-color: $notice-info;
        color: white;
        width: 85%;
        text-align: center;
    }
    button {
        border-radius: 0;
        width: 15%;
    }
}

.option-original {
    cursor: pointer;
}

.option-original:hover {
    background-color: red;
}