// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section-title {
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
}

.unassigned-tasks {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-left: 1px solid rgb(214, 214, 214);
}

.unassigned-tasks_header {
    flex: 0 1 auto;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #9A9A9A;
}

.timeline-section {
    flex: 0 1 80%;
    /*display: flex;*/
    flex-direction: column;
}

.timeline-section_title {
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.developer-section {
    border-right: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
}

.developer {
    margin: 22px 0px 25px 15px;
}

.developer_name {
    position: relative;
    font-size: 10pt;
    margin-left: 5px;
}

.assignment {
    flex: 0 1 80%;
    overflow-x: auto;
    width: 800px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.assignment_section {
    flex: 0 1 10%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1000px;
}

.ipa-task {
    flex: 0 1 30%;
    background-color: #5bc0de; // #4AD3B7;
    border: 1px solid rgb(70, 184, 218); // 20C6A4;
}

.ipa-unassigned_task {
    flex: 0 1 auto;
    // background-color: #4AD3B7;
    // border: 1px solid #20C6A4;
    background-color: #5bc0de; // #4AD3B7;
    border: 1px solid rgb(70, 184, 218); // 20C6A4;
}

.assignment_section_task-title {
    flex: 0 1 70%;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 2;
    color: white;
}

.assignment_section_task-selection {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.task-selection_check-mark {
    flex: 0 1 auto;
    margin-top: 8px;
}

.task-selection_github {
    flex: 0 1 auto;
    font-size: 1em;
    color: white;
    margin-top: 5px;
    margin-right: 1px;
}

.task-selection_github a {
    color: white !important;
}

.empty-task {
    border: 1.5px dashed #E2E2E2;
    cursor: pointer;
}

.add-user_icon {
    cursor: pointer;
    color: #E2E2E2;
    font-size: 15pt;
}

.finished-task {
    flex: 0 1 40%;
    background-color: #EBEBEB;
    border: 1px solid #D3D3D3;
}

.finished-task .assignment_section_task-title {
    color: #A7A7A7;
}

.finished-task .task-selection_github a {
    color: #A7A7A7 !important;
}

.assignment_section_task {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border-radius: 5px;
}

.unassigned_section_task {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
}

.difficulties_selection {
    margin: 25px 0px 25px 0px;
}

.priority_selection {
    margin: 25px 0px 25px 0px;
}

.pagination {
    flex: 0 1 80%;
    display: flex;
    font-weight: 500;
    margin: 10px 15px 0px 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.pagination_button {
    flex: 0 1 auto
}

.btn_add-user {
    margin-left: 36px;
    margin-top: 10px;
}


/* modal */

.modal-header_style {
    border-top: 10px solid #4AD3B7;
    border-radius: 5px;
}

.icon-section {
    flex: 0 1 50%;
    justify-content: center;
    border-right: 1px solid #e5e5e5;
}

.icon-section>a {
    color: #C4F1E8;
}

.icon-section>a:hover {
    color: #4AD3B7;
}

.add_user_icon {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
}

.user_info-section {
    flex: 0 1 50%;
    margin: 0px 60px 0px 60px;
}

.task_info-section {
    margin-left: 30px;
    margin-right: 30px;
}

.modal-title_bold {
    font-weight: 700;
}

.form-group>label {
    color: #95989A;
}

.btn-create {
    background-color: #4AD3B7;
    color: white;
    border-radius: 0;
    width: 300px;
}

.btn-create:hover {
    background-color: #38BAA0 !important;
    color: white !important;
}

.btn-create:active {
    background-color: #38BAA0 !important;
    color: white !important;
}

.btn-delete {
    width: 120px !important;
    margin: 0px 30px 0px 30px;
    background-color: #F88181;
    color: white;
    border-radius: 0;
    width: 300px;
}

.btn-delete:hover {
    background-color: #D35555 !important;
    color: white !important;
}

.btn-delete:active {
    background-color: #D35555 !important;
    color: white !important;
}

.difficulties_indicator {
    flex: 0 1 10%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.difficulties_selection-header {
    margin-bottom: 20px;
}

.priority_number_list {
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
}

.priority_selection-header {
    margin-bottom: 20px;
}

.priority-1 {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 4px solid #4AD35A;
}

.priority-2 {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 4px solid #D6ED5A;
}

.priority-3 {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 4px solid #E3E356;
}

.priority-4 {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 4px solid #FFC989;
}

.priority-5 {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 4px solid #FF8383;
}

.priority_number {
    display: block;
    color: #95989A;
    font-weight: 600;
    font-size: 11pt;
    margin-top: 8px;
}

.priority-1:active {
    background-color: pink;
}


/* flex */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row_space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: 0 1 auto;
}

.flex-5 {
    flex: 0 1 5%;
}

.flex-10 {
    flex: 0 1 10%;
}

.flex-20 {
    flex: 0 1 20%;
}

.flex-30 {
    flex: 0 1 30%;
}

.flex-40 {
    flex: 0 1 40%;
}

.flex-50 {
    flex: 0 1 50%;
}

.flex-60 {
    flex: 0 1 60%;
}

.flex-70 {
    flex: 0 1 70%;
}

.flex-80 {
    flex: 0 1 80%;
}

.flex-90 {
    flex: 0 1 90%;
}

.flex-100 {
    flex: 0 1 100%;
}


/* range selector css */

.range-slider__range {
    height: 5px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
    flex: 0 1 65%;
    align-self: center;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #4AD3B7;
    cursor: pointer;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #4AD3B7;
}

.range-slider__range:active::-moz-range-thumb {
    background: #4AD3B7;
}

.range-slider__value {
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #4AD3B7;
    padding: 5px 10px;
    margin-left: 8px;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
