// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* flex */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row_space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: 0 1 auto;
}

.flex-5 {
    flex: 0 1 5%;
}

.flex-10 {
    flex: 0 1 10%;
}

.flex-20 {
    flex: 0 1 20%;
}

.flex-30 {
    flex: 0 1 30%;
}

.flex-40 {
    flex: 0 1 40%;
}

.flex-50 {
    flex: 0 1 50%;
}

.flex-60 {
    flex: 0 1 60%;
}

.flex-70 {
    flex: 0 1 70%;
}

.flex-80 {
    flex: 0 1 80%;
}

.flex-90 {
    flex: 0 1 90%;
}

.flex-100 {
    flex: 0 1 100%;
}


/* range selector css */

@import "assignments_widget";
@import "modal";