// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container {
    width: 95%;
    margin: 20px;
    .form-section {
        margin: 0px 25px;
        padding: 30px 0px;
        border-bottom: 1px solid #F0F0F0;
        label {
            width: 80px;
            margin-right: 80px;
        }
        input {
            border: 1px solid #E2E2E2;
            padding: 5px;
            height: 28px;
            border-radius: 3px !important;
            outline: none;
            color: #BFBFBF;
            box-shadow: none;
        }
        textarea {
            border: 1px solid #E2E2E2;
            padding: 5px;
            height: 28px;
            border-radius: 3px !important;
            outline: none;
            color: #BFBFBF;
            box-shadow: none;
        }
        .details {
            display: block;
            float: left;
        }
    }
}

.info-container {
    width: 95%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    .colm-right {
        margin: 0px 25px;
        flex: 1 1 100%;
    }
    .colm-left {
        margin: 0px 25px;
        flex: 1 1 100%;
    }
}