// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "utilities/variables";
.form-container {
    width: 95%;
    margin: 20px;
    .form-section {
        margin: 0px 25px;
        padding: 30px 0px;
        border-bottom: 1px solid #F0F0F0;
        label {
            width: 100px;
            margin-right: 40px;
        }
        input {
            border: 1px solid #E2E2E2;
            padding: 5px;
            height: 28px;
            border-radius: 3px !important;
            outline: none;
            color: black;
            box-shadow: none;
            width: 785px;
        }
        input:focus {
            border: 1px solid #808080;
        }
        textarea {
            border: 1px solid #E2E2E2;
            padding: 5px;
            height: 28px;
            border-radius: 3px !important;
            outline: none;
            color: black;
            box-shadow: none;
            display: block;
            float: left;
            width: 785px;
            height: 200px;
        }
        textarea:focus {
            border: 1px solid #808080;
        }
        .details {
            display: block;
            float: left;
        }
    }
}

.info-container {
    width: 95%;
    margin: 50px 20px 30px 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F0F0F0;
    .date {
        input {
            width: 160px;
        }
    }
    .selector {
        width: 285px;
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        .range-slider-value {
            width: 40px;
        }
    }
    .colm {
        padding: 0px 25px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        .points {
            button {
                width: 40px !important;
            }
        }
        .date {
            button {
                width: 40px !important;
            }
        }
        .colm-section {
            button {
                width: 90px;
            }
            flex: 0 0 90px;
            label {
                width: 100px;
                margin-right: 40px;
            }
        }
    }
}

.btn-container {
    margin: 50px 20px 30px 20px;
    text-align: center;
    button {
        margin-right: 20px;
    }
    .btn-update {
        background-color: $devblue;
        border: $devblue-dark;
        color: white;
        width: 400px;
    }
}