/* Color definitions used in DevBoard */

$devblue: #428bca;

/* the blue color use for devboard task and other blue color elelments */

$devblue-dark: #3b7db5;
$warning-red: #F88181;
$warning-red-dark: #D35555;
$whitegray: #f7f7f7;
$lightgray: #EBEBEB;
$gray: #d6d6d6;
$darkgray: #808080;
$lightblack: #454545;
$devblack: #333333;
$table-border: 1px solid #ddd;

/* the black color used for all the black color elements such as texts */