<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Devboard', root_path, class: 'navbar-brand' %>
    </div>
    <% if authenticated? %>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
          <li><%= link_to 'Log out', logout_path %></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" style="border: 1px solid #666; border-radius: 0; background-color: #333; color: #ddd;" placeholder="Search">
        </form>
      </div>
    <% end %>
  </div>
</div>
